page-home {

}
#addNewApt{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #f8f8f8;
  height: 100px;
}

.rounded-image{
  border-radius: 50%;
}
.item-inner{
  border-bottom: none !important;
}
